################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/4=10/
4=10/
Debug/
4=10.*
!4=10.c
x64/Debug/

